
/*ESTILIZANDO O DARK-MODE*/

:root{
  --body-bg: #fafafa;
  --azul-neon: #52CED9;
  --cor-letras: #000;
  --cor-links: #5c5c5c;
  --overlay-do-menu: #CCCCCC;
  --btn-shadow: #009D97;
  --sobre-shadow: #B0B0B0;
  --overlay-projetos-bg: #000000b8;
  --input-bg: #D1D1D1;
  --shadow-input: #A6A6A6;
  --shadow-footer: #C7C7C7;
  --cor-btn: #fff;
}

.dark-mode:root{
  --body-bg: #000;
  --azul-neon: #00FFFB;
  --cor-letras: #fff;
  --cor-links: #5c5c5c;
  --overlay-do-menu: #000000df;
  --btn-shadow: #009D97;
  --sobre-shadow: #ffffff78;
  --overlay-projetos-bg: #000000b8;
  --input-bg: #242424;
  --shadow-input: #bbb;
  --shadow-footer: #ffffff1d;
  --cor-btn: #000;
}


/*ESTILO GERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}

html{
  scroll-behavior: smooth;
  transition-duration: 0.9s;
}

body{
  background-color: var(--body-bg);
  height: 100vh;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.leonardo-contato button{
  padding: 10px 40px;,
  font-size: 18px;
  font-weight: 600;
  background-color: var(--azul-neon);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
  color: var(--cor-btn);
}

button:hover, .contate-me form .leonardo-enviar input:hover{
  box-shadow: 0px 0px 8px var(--btn-shadow);
  transform: scale(1.05);
}

h2.titulo{
  color: var(--cor-letras);
  font-size: 40px;
  text-align: center;
}

h2.titulo spam{
  color:var(--azul-neon);
}


/*ESTILO DO CABEÇALHO*/

header{
  padding: 40px 4%;
}

header img{
  max-height: 100px;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header a{
  display: inline-block;
  color: var(--cor-links);
  text-decoration: none;
  transition: .2s;
}

.menu-desktop a:hover{
  color: var(--cor-letras);
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}

header nav.menu-desktop ul li{
  display: inline-block;
  padding: 0 40px;
}


/*ESTILO MENU MOBILE*/

.btn-abrir-menu{
  display: none;
}

.menu-mobile{
  background-color: var(--body-bg);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .4s;
}

.menu-mobile.abrir-menu{
  width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
  display: block;
}

.menu-mobile nav ul{
  text-align: right;
}

.menu-mobile nav ul li a{
  color: var(--cor-letras);
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover{
  background-color: var(--azul-neon);
  color: var(--body-bg);
}

.menu-mobile .btn-fechar i{
  color: var(--azul-neon);
  font-size: 30px;
}

.menu-mobile .btn-fechar{
  padding: 20px 5%;
}

.btn-abrir-menu i{
  color: var(--azul-neon);
  font-size: 40px;
}


.overlay-menu{
  background-color: var(--overlay-do-menu);
  width: 100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/*ESTILO TOPO DO SITE*/

section.topo-do-site{
  padding: 40px 4%;
  
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site .txt-topo-site h1{
  color: var(--cor-letras);
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 spam{
  color: var(--azul-neon);
}

.topo-do-site .txt-topo-site p{
  color: var(--cor-letras);
  margin: 40px 0;
}

@keyframes flutuar{
  0%{
    top:0;
  }
  100%{
    top:30px;
  }
}

section.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  max-height:400px; 
}

/*ESTILO SOBRE MIM*/

section.sobre{
  padding: 40px 4%;
}

section.sobre .flex{
  gap:60px;  
}

.sobre .sobre-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--sobre-shadow);
  
}
.sobre .sobre-box{
  color: var(--cor-letras);
  padding: 40px;
  margin-top: 50px;
  border-radius: 20px;
  transition: 0.3s;
}

.sobre .sobre-box i{
  font-size:70px;
  color: var(--azul-neon);
}

.sobre .sobre-box h3{
  font-size: 30px;
  margin: 15px 0;
}

/*ESTILO PROJETOS*/

section.projetos{
  padding: 80px 4%;
}

section.projetos .flex{
  justify-content: space-around;
  margin-top: 60px;
}

.img-projetos{
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 6s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-projetos:hover{
  background-position: 100% 100%;
}

.overlay{
  postion: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-projetos-bg);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-letras);
  opacity: 0;
  transition: .5s;
}

.overlay:hover{
  opacity: 1;
}

/*ESTILO FORMULARIO*/

section.contate-me{
  padding: 80px 4%;
}

.contate-me form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.contate-me form input, form textarea{
  width: 100%;
  background-color: var(--input-bg);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: var(--cor-letras);
  font-size: 18px;
}


.contate-me form textarea{
  resize: none;
  max-height: 300px;
}

.contate-me form .leonardo-enviar{
  margin-top: 20px;
  text-align: center;
}


.contate-me input:focus, textarea:focus{
  box-shadow: 0 0 8px var(--shadow-input);
}


.contate-me form .leonardo-enviar input{
  width: 120px;
  background-color: var(--azul-neon);
  color: var(--body-bg);
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/*ESTILIZANDO O FOOOTER*/

footer{
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px var(--shadow-footer);
}

.leonardo-social button{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: var(--azul-neon);
  font-size: 28px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
  color: var(--cor-btn);
}



footer .flex{
  justify-content: space-between;
  align-items: center;
}

footer img{
  max-height: 170px;
}

footer .line-footer p i{
  color: var(--azul-neon);
  font-size: 22px;
}

footer .line-footer p a{
  color: var(--cor-letras);
}
.borda{
  border-top: 2px solid var(--azul-neon);
}
footer .line-footer{
  padding: 20px 0;
}



/*ESTILO DA PAGINA MENSAGEM ENVIADA */

.mensagem-enviada{
  padding: 0 4%;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  flex-direction: column;
}

.mensagem-enviada .txt-mensagem-enviada h1{
  color: var(--cor-letras);
  font-size: 50px;
  line-height: 40px;
}

.mensagem-enviada .txt-mensagem-enviada h1 spam{
  color: var(--azul-neon);
}

.mensagem-enviada .txt-mensagem-enviada p{
  color: var(--cor-letras);
  margin: 30px 0;
  font-size: 25px;
}

.btn-mensagem button{
  padding: 10px 40px;,
  font-size: 18px;
  font-weight: 600;
  background-color: var(--azul-neon);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
  color: var(--cor-btn);
}



/*RESPONSIVIDADE*/

@media screen and (max-width: 1020px){
  /*CLASSES GERAIS*/
  
  .flex{
    flex-direction: column;
  }
  .topo-do-site .flex{
    flex-direction: column-reverse;
  }
  h2.titulo{
    font-size: 34px;
    line-height: 30px;
  }
  
  /*CABEÇALHO*/
  .leonardo-contato, .menu-desktop{
    display: none;
  }
  
  /*TOPO DO SITE*/
  
  section.topo-do-site{
    padding: 20px 8%;
  }
  
  section.topo-do-site .flex{
    gap: 40px;
  }
  
  .topo-do-site .txt-topo-site h1{
    font-size: 30px;
  }
  
  section.topo-do-site .img-topo-site img{
    width: 100%;
  }
  
  /*ESTILO SOBRE MIM*/

  section.sobre{
    padding: 40px 8%;
  }
  
  /*ESTILO PROJETOS*/

  section.projetos{
    padding: 80px 8%;
  }
  
  .img-projetos{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
  
  section.projetos .flex{
    gap: 60px;
  }
  
  /*FOOTER*/
  footer .line-footer{
    text-align: center;
  }

  .btn-abrir-menu{
    display: block;
  }
  
}

